body {
  margin: 0;
  background-color: #141414;
  color: white;
  font-family: Arial, sans-serif;
}

#root {
  min-height: 100vh;
}


/* Texte */
h1, h2, h3, p {
  color: white;
}

/* Icons */
#social .button-icon {
  filter: invert(1) brightness(2);
}

/* Code */
code, .counter {
  font-family: ui-monospace, monospace;
  color: white;
}

code {
  font-size: 15px;
  padding: 4px 8px;
  background: #222;
  border-radius: 4px;
}